<%- include('header'); %>
<h2>This is my about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam
  nobis quod. Ex asperiores corrupti soluta dolorum at quos officia sapiente
  veniam repellat, vitae error molestiae! Accusantium adipisci tempora quaerat?
</p>
<%- include('footer'); %>
